@font-face {
  font-family: 'font';
  src: url('/font/font.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* Теперь можно использовать шрифт */
body {
  font-family: 'font' !important;
}
.nav-link {
  color: white !important;
  font-size: 36px !important;
  margin-right: 100px;
  font-weight: regular 200 !important;
}
.active {
  font-weight: bold !important;
  font-style: normal;
}
.bg {
  margin-top: -50px;
  width: 100%;
}
.news-block {
  color: white;
  text-align: center;
  background-color: rgba(28, 28, 28, 0.75);
}
.bg-img {
  background-image: url(/assets/img/bgHomeBlur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}
.topic-header {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 82px;
}
.img-in-news {
  padding: 0px !important;
}
.block-in-news {
  background-color: rgba(28, 28, 28, 0.75);
}
.text-news {
  font-size: 28px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.p-text-news {
  margin-bottom: 35px;
  font-weight: 400 !important;
}
.block-place {
  height: 410px;
  color: white;
}
.in-block-hero {
  display: flex;
}
.mon {
  background-image: url(assets/img/bgMonBlur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.sum {
  background-image: url(assets/img/bgSumeruBlur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.ina {
  background-image: url(assets/img/bgInadzumaBlur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.mon:hover {
  background-image: url(assets/img/bgMon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sum:hover {
  background-image: url(assets/img/bgSumeru.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ina:hover {
  background-image: url(assets/img/bgInadzuma.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mon:hover img {
  opacity: 1;
}
.sum:hover img {
  opacity: 1;
}
.ina:hover img {
  opacity: 1;
}
.img-in-hero {
  height: 410px;
  width: 350px !important;
  opacity: 0;
  transition: 0.5s;
}
.topic-header-hero {
  padding-top: 160px;
}
footer {
  padding-top: 50px;
  text-align: center;
  background-color: black;
  padding-bottom: 50px;
}
.footer-block img {
  height: 150px;
  width: 550px;
  padding-bottom: 50px;
}
.text-footer .topic-header {
  color: white;
  font-size: 28px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.topic-header a {
  text-decoration: none;
  color: white;
}
/*Hero*/
.block-div {
  background-color: rgba(28, 28, 28, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 600px;
  margin-top: 250px;
}
.block-div a {
  text-decoration: none;
  color: white;
}
.bg-hero {
  display: flex;
  margin-top: -95px;
  height: 1000px;
  justify-content: space-around;
  background-image: url(/assets/img/bgPers.jpg);
}
.img-hero {
  padding: 10px;
  height: 400px;
}
.bg-hero-in {
  display: flex;
  margin-top: -95px;
  justify-content: space-around;
  background-image: url(/assets/img/bgMon.jpg);
}
.hero-in {
  display: flex;
  color: white;
}
.img-squad img {
  margin-top: 15px;
  width: 550px;
  padding-bottom: 50px;
}
.des-hero {
  font-size: 20px;
  background-color: rgba(28, 28, 28, 0.75);
  padding: 5px;
}
.squad {
  font-size: 24px;
}
.name-hero {
  margin-top: 50px;
}
.big-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
}
.bg-hero-in-nahida {
  display: flex;
  margin-top: -95px;
  justify-content: space-around;
  background-image: url(/assets/img/bgSumeru.jpg);
}
.bg-hero-in-ayaka {
  display: flex;
  margin-top: -95px;
  justify-content: space-around;
  background-image: url(/assets/img/bgInadzuma.jpg);
}
.bg-news {
  margin-top: -95px;
  background-image: url(/assets/img/bgNews.jpg);
}
.owl-item .block-div {
  margin-top: 170px;
  justify-content: normal;
  align-items: normal;
}
.owl-item .block-div .img-hero {
  padding: 5px;
}
.owl-item .block-div p {
  padding: 5px;
  font-weight: 200;
}
.owl-item .block-div h3 {
  padding: 5px;
}
.news-naw {
  z-index: 5;
}
